@import "tailwindcss";

@font-face {
    font-family: 'NotoSerif';
    src: url(../assets/fonts/NotoSerif.ttf);
}

@font-face {
    font-family: 'AlbertSans';
    src: url(../assets/fonts/AlbertSans.ttf);
}


body {
    font-family: 'NotoSerif', sans-serif;
}

#dashboard {
    font-family: 'AlbertSans';
}